/auto-save-list
/elpa
/recentf
*.elc
/history
.*
/eaf
/repos
/transient
/eshell
/dirvish
/request
/site-lisp
/eln-cache
/tramp
/librime
/bookmarks
org-roam.db
custom.el
.DS_Store
/rime
nov-places
/tree-sitter
/url
amx-items
/ellama-sessions
network-security.data
pomm
/chatgpt
/cnfonts
/devdocs
/places/var/dsh-acp
/agent
/eca
/xenops
/persist
/var
/projects
/places
fc-backtrace*.txt
org-fc-reviews.tsv
/english-wordlists/
